html
  head
    title='Docker FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Docker learners!!!
        h2 Check out our other trainings
        p
          a.btn.btn-primary(="") Docker for PHP Developer

          a.btn.btn-outline-primary(href="") Docker for Java Developer          
          
        p
        p Welcome to Inixindo Bandung.